
.icon-leaf:before { content: '\e801'; } /* '' */
.icon-doc-text:before { content: '\e802'; } /* '' */
.icon-comment-alt:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-book-open:before { content: '\e807'; } /* '' */
.icon-th-large:before { content: '\e808'; } /* '' */