@import 'nib'

$u = 'Ubuntu', sans-serif

cut()
	font-size 0
	line-height 0
	letter-spacing -4px 
	
add()
	line-height normal
	letter-spacing normal	

/* Extra small devices (phones) */
med_tiny = '(max-width: 782px)'

/* Small devices (tablets) */
med_small = '(min-width: 783px) and (max-width: 900px) '

/* Medium devices (desktops) */
med_med =  '(min-width: 901px) and (max-width: 1199px)'

/* Large devices (large desktops) */
med_big =  '(min-width: 1200px)'
