@import 'nib'

$u = 'Ubuntu', sans-serif

/*$red  = #ea6d67
$blue = #428bca
$art  = #555
$text = #777

$o = 'Open Sans', Arial, sans-serif
$n = 'Neucha', cursive*/


/* Extra small devices (phones) */
med_tiny = '(max-width: 782px)'

/* Small devices (tablets) */
med_small = '(min-width: 783px) and (max-width: 900px) '

/* Medium devices (desktops) */
med_med =  '(min-width: 901px) and (max-width: 1199px)'

/* Large devices (large desktops) */
med_big =  '(min-width: 1200px)'
