*
	box-sizing border-box
	
html
body
	height 100%
	font-family $u
	font-weight 300 
	
h3
	letter-spacing 6px
	color #485154
	font-family $u
	font-size 20px
	line-height 26px
	font-weight 300 
	text-transform uppercase
	
.wrapper
	min-height 100%
	width 100%
	margin-bottom -190px
	
	&:after
		content ''
		height 190px
		display block
		

.container
	width 1200px
	margin 0 auto 
		
#main		
	width 100%
	height 100%
		
	.wrapper
		position relative
		background url(../images/bg.jpg) no-repeat center center
		background-size cover		
		
	header 
		//display none
		position absolute
		top 2.5%
		left 2.5%
		z-index 15
		width 95%
		height 95%
		padding-top 0
		background #FFF 
		opacity 0
		visibility hidden
		transition opacity .3s ease, visibility .3s ease
		
	.logo 
		display none 	
		
	.menu 
		display block
		margin 0 auto 
		margin-top 300px 
		width 70%
		opacity 0
		visibility hidden
		transform translate(0, -300px)
		transition opacity .6s ease, visibility .6s ease, transform 1s ease
		
		ul 
			float none
			width 53%
			border-right 1px solid #e0e4e5
			padding-top 0
			
			li 
				 display block
				 
				 a 
					font-size 40px 
					line-height 1.2em 
					
				&:last-child
					padding-bottom 0	
					
	.menuFadeIn
		opacity 1
		visibility visible	
		transform translate(0, 0)			
				 	
		
	footer
		position absolute
		width 95%
		left 2.5%
		bottom 2.5%
		border-top none
		
	.footer-copy
		color #FFF	
		padding-top 20px
		
	.open-menu
		//display block	
		opacity 1
		visibility visible
		

		
.icon-close
	display inline-block
	position absolute
	top 3.5%
	left 49%
	cursor pointer
		
		
#page
	height 100%
	width 100%		
			
		

.main 
	position absolute
	top 2.5%
	left 2.5%
	width 95%
	height 95% 	
	background rgba(#a6acae, .3)
	
.hamb
	position absolute
	top 5%
	left 50%
	z-index 10
	width 25px
	height 15px
	cursor pointer
	
	ul 
		li 
			width 100%
			height 3px
			border-radius 3px 
			background #FFF 
			margin-bottom 3px
			
			&:last-child
				margin-bottom 0
		
	
.main-inner
	position relative
	top 40%	
	
.main-text
	h1
		font-size 55px
		line-height 79px
		letter-spacing 0.3em
		color #FFF 
		text-transform uppercase
		text-align center 
		
	h5 
		width 50%
		margin 0 auto 
		font-size 12px
		line-height 18px
		letter-spacing .4em
		color #FFF  	 	
		text-transform uppercase
		text-align center
		
.content
	width 100%
	

.navigation
	width 100%
	margin 0 auto
	background url(../images/navigation.jpg) no-repeat center center
	background-size cover
	margin-bottom 73px
	
	ul 
		max-width 1200px
		font-size 0
		padding 46px 0 42px
		margin 0 auto 
		text-align center
		
		li 
			display inline-block
			vertical-align top 
			
			a 
				font-size 27px
				line-height 32px 
				font-weight 700 			
				color #FFF 
				text-decoration none
				letter-spacing 8px
				text-transform uppercase
				transition color .3s ease
				
				&:hover
					color #B8BDBF
					
			span 
				font-size 28px
				line-height 32px
				color #FFF 
				font-weight 300
				letter-spacing 8px 	
				text-transform uppercase	
				


		

footer
	width 100%
	height 190px
	padding 50px 0 78px 
	border-top 1px solid #B8BDBF 
			
.footer-copy
	font-family $u 
	font-size 12px
	line-height 18px
	color #B8BDBF	
	text-align center		

	

/* fancystyles */		


.fancybox-overlay
	background rgba(0, 0, 0, .8)
	
.fancybox-skin 
	padding 0 !important
	
.fancybox-close		
	top -30px
	right 0
	width 24px
	height 24px
	background url(../images/close.png) no-repeat
	
.fancybox-prev 
	span
		left -20%
		background url(../images/left.png) no-repeat
		
.fancybox-nav
	&:hover
		span 
			visibility visible			
	
			 		