header
	width 100%
	padding 22px 0 0 0
	
.header
	max-width 1200px
	margin 0 auto 
	font-size 0
	
.logo 
	display inline-block
	vertical-align top
	width 25%	
	
	a
		display block
		width 100%
		height 100%
		text-decoration none 
		
		span
			display block
			font-size 18px
			line-height 30px
			font-weight 700 
			color #485154 
			letter-spacing .3em 
			text-transform uppercase
			text-align center
			
		em 
			display block
			font-size 12px
			line-height 18px
			color #B8BDBF 
			letter-spacing .4em 	
			text-align center
			text-transform uppercase
	
.menu
	display inline-block
	vertical-align top
	width 75%
	clearfix()
	
	ul 
		float right
		font-size 0 
		padding-top 18px
		
		li 
			display inline-block
			vertical-align top
			margin-left 42px
			padding-bottom 40px
			
			a 
				font-size 20px
				line-height 20px
				color #B8BDBF 
				text-transform uppercase
				text-decoration none
				transition color .3s ease
				
				&:hover
					color #485154 	
					
		.current-menu-item
			a 
				color #485154			
	